<ng-map  default-style="false" center="center" zoom="2" style="height: 100%;">

</ng-map>

<button ng-click="getLocationsOnSpecificDate(1,1,1)"></button>

<!--<modal title="Details" visible="showPinDetails">-->
  <!--dasdawqedqeasd-->
  <!--asdas-->
  <!--das-->
  <!--das-->
  <!--d-->
  <!--</modal>-->

<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">asdsad</h4>
      </div>
      <div class="modal-body">sadadas</div>
    </div>
  </div>
</div>
