<!-- Add your site or application content here -->
<main-nav>

</main-nav>


  <content ng-show="main.content.home" data="home" ng-class="{'animated fadeInDown' : main.content.home}">
    <div class="content-wrapper">
    <h1>Home</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vestibulum fringilla nisl ac ornare. In nec ultricies ipsum. In ultrices, lectus et pharetra pharetra, orci tellus ullamcorper nulla, ac iaculis lectus ligula ac arcu. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent tempus finibus leo, sed fermentum erat euismod eu. Ut vel risus eu neque elementum semper quis auctor tortor. Proin non ornare neque, ac dapibus quam. Aenean aliquet tincidunt lorem, vel finibus dui fermentum quis. Vestibulum commodo tempor tempor. Praesent non finibus neque. Pellentesque diam lorem, varius consequat mollis eget, volutpat a nisl.
    </p>
    </div>
  </content>

<content ng-show="main.content.about" data="about" ng-class="{'animated fadeInDown' : main.content.about}">
  <div class="content-wrapper">
  <h1>About</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vestibulum fringilla nisl ac ornare. In nec ultricies ipsum. In ultrices, lectus et pharetra pharetra, orci tellus ullamcorper nulla, ac iaculis lectus ligula ac arcu. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent tempus finibus leo, sed fermentum erat euismod eu. Ut vel risus eu neque elementum semper quis auctor tortor. Proin non ornare neque, ac dapibus quam. Aenean aliquet tincidunt lorem, vel finibus dui fermentum quis. Vestibulum commodo tempor tempor. Praesent non finibus neque. Pellentesque diam lorem, varius consequat mollis eget, volutpat a nisl.
  </p>
    </div>
</content>


<content ng-show="main.content.features" data="features" ng-class="{'animated fadeInDown' : main.content.features}">
  <div class="content-wrapper">
  <h1>Features</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vestibulum fringilla nisl ac ornare. In nec ultricies ipsum. In ultrices, lectus et pharetra pharetra, orci tellus ullamcorper nulla, ac iaculis lectus ligula ac arcu. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent tempus finibus leo, sed fermentum erat euismod eu. Ut vel risus eu neque elementum semper quis auctor tortor. Proin non ornare neque, ac dapibus quam. Aenean aliquet tincidunt lorem, vel finibus dui fermentum quis. Vestibulum commodo tempor tempor. Praesent non finibus neque. Pellentesque diam lorem, varius consequat mollis eget, volutpat a nisl.
  </p>
    </div>
</content>


<content ng-show="main.content.contact" data="contact" ng-class="{'animated fadeInDown' : main.content.contact}">
  <div class="content-wrapper">
  <h1>Contact</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vestibulum fringilla nisl ac ornare. In nec ultricies ipsum. In ultrices, lectus et pharetra pharetra, orci tellus ullamcorper nulla, ac iaculis lectus ligula ac arcu. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent tempus finibus leo, sed fermentum erat euismod eu. Ut vel risus eu neque elementum semper quis auctor tortor. Proin non ornare neque, ac dapibus quam. Aenean aliquet tincidunt lorem, vel finibus dui fermentum quis. Vestibulum commodo tempor tempor. Praesent non finibus neque. Pellentesque diam lorem, varius consequat mollis eget, volutpat a nisl.
  </p>
    </div>
</content>

<modal title="Login form" visible="showModal">
  <login-box>

  </login-box>
</modal>


