<div class="container-fluid">
  <div class="row highlight">
    <div class="col-md-12" ng-repeat="detail in details">
      <h1 ng-show="detail.show">{{detail.text}}</h1>

    </div>
    <span class="glyphicon glyphicon-chevron-down" ng-click="getDetail()"></span>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <button class="btn btn-default" ng-click="toggleModal()">Log in</button>
    </div>
  </div>
</div>



<modal title="Login form" visible="showModal">
  <div class="alert alert-danger" ng-show="error">{{error}}</div>
  <form role="form" name="form" ng-submit="login()">
    <div class="form-group">
      <label for="email">Email address</label>
      <i class="fa fa-key"></i>
      <input name="email" type="email" class="form-control" id="email" ng-model="email" placeholder="Enter email" required/>
      <span class="help-block" ng-show="form.email.$dirty && form.email.$error.required">Email is required</span>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <i class="fa fa-lock"></i>
      <input type="password" name="password" class="form-control" id="password" placeholder="Password" ng-model="password" required/>
      <span class="help-block" ng-show="form.password.$dirty && form.password.$error.required">Password is required</span>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-danger" ng-disabled="form.$invalid || dataLoading">Login</button>
      <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
    </div>
  </form>
</modal>


